/* --------------------------------------------------------------
   Nails CDN Module Admin Styles
-------------------------------------------------------------- */

@import './components/mediamanager.scss';
@import './components/objectpicker.scss';

.group-cdn {
    &.browse {
        th.id,
        td.id,
        th.thumbnail,
        td.thumbnail,
        th.count,
        td.count {
            text-align: center;
        }
        th.id,
        td.id {
            width: 75px;
        }
        td.thumbnail {
            img {
                border: 1px solid #CCCCCC;
                padding: 3px;
                border-radius: 3px;
            }
        }
        th.bucket,
        th.datetime,
        th.filesize {
            min-width: 100px;
        }
        th.count,
        td.count {
            width: 100px;
        }
        th.mime,
        td.mime {
            max-width: 250px;
        }
        th.filename,
        td.filename {
            min-width: 250px;
        }
        th.actions {
            min-width: 170px;
        }
        td.mime {
            small {
                white-space: nowrap;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
