parameters:
    level: 0
    paths:
        - ../helpers
        - ../src
        - ../tests
    scanDirectories:
        - ../vendor/pocketarc/codeigniter
        - ../vendor/nails/common
        - ../vendor/nails/module-auth
    scanFiles:
        - ../vendor/nails/common/helpers/url.php
