.group-utilities {
    &.cdn {
        &.orphans {
            position: relative;
            .mask {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #FFFFFF url(../img/loader/20px-FFFFFF.gif) center no-repeat;
                opacity: 0.75;
                display: none;
            }
        }
    }
}
